@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  letter-spacing: 2px;
}

body {
  background: white;
  width: 100%;
  overflow-x: hidden;
}

p::spelling-error {
  text-decoration: none;
}



:root {
  --black: #000000;
  --gray: #e9e9e9;
  --white: #ffffff;
  --navyBlue: #00247d;
  --lightNavyBlue: #00247d;
  --darkOrange: #ff5e3c;
  --orange: #ff5e3c;
  --dullOrange: #ffd0b4;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0335b5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--navyBlue);
}

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
