:root {
  --black: #000000;
  --gray: #e9e9e9;
  --white: #ffffff;
  --navyBlue: #021e65;
  --lightNavyBlue: #00247d;
  --darkOrange: #c53e23;
  --orange: #ff5e3c;
  --dullOrange: #ffd0b4;
}


html{
  user-select: none;
}
.reset-password-container {
  width: 100vw;
  height: 100vh;
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

 

.form-text{

    margin-bottom: 50px;

}

.form-text h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 25px;
}

.form-text h2{
    font-weight: 300;
}

.form-text h2 span{
    font-weight: 900;
}

.forgotsvg {
  float: left;
  display: flex;
  width: 500px;
  animation: float 5s ease-in-out infinite;
}

.form-item {
  font-size: 23px;
  border: none;
  border-radius: 10px;
}

.form-item input {
  margin-left: 10px;
  background-color: transparent;
  margin-bottom: 10px;
  border: none;
  font-size: 23px;
  height: 25px;
  border-bottom: 2px solid var(--orange);
  width: 434px;

  font-weight: 600;
  color: var(--black);
  outline: none;
}

.error-text {
  font-size: 12px;

}

.circle{
    animation: float 5s ease-in-out infinite;
    width: 520px;
    height: 550px;
    border-radius: 400px;
    background-color: var(--lightNavyBlue);
}

@keyframes float{
  0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
